html {
  scroll-behavior: smooth;
}

body { 
  font-family: var(--body-font);
  background-color: #1A202C;
  color: #ffffff;
}

li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.activeLink {
  background-color: #877EFF;
}
